<html>
    <head>
        <title>
        </title>
        <LINK REL=StyleSheet HREF="/css/bootstrap-3.3.7-dist/css/bootstrap.css" TYPE="text/css" MEDIA=screen>
        <LINK REL=StyleSheet HREF="/css/jquery.dataTables.min.css" TYPE="text/css" MEDIA=screen>
        <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    </head>
    <body>
        <h1 style="text-align : center"><%= AppName %></h1>
        <br/>
        <br/>